<header class="header">
    <div class="header-1">
        <a href="#" class="logo"><i class="fas fa-book"></i>bookstore</a>

        <div action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
            <div id="search-result">
            </div>
        </div>
        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>
    </div>
    <div class="header-2">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/category">Category</a>
            <a href="/about">About us</a>
            <a href="/blogs">Blogs</a>
        </nav>
    </div>
</header>
<nav class="bottom-navbar">
    <a href="/">
        <i class="fa-solid fa-house"></i>
    </a>
    <a href="/category">
        <i class="fa-solid fa-list"></i>
    </a>
    <a href="/about">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users">
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
    </a>
    <a href="/blogs">
        <i class="fa-solid fa-blog"></i>
    </a>
</nav>

<script> // search books
    const routes = {
        home: {
            index: "/", 

        },
        category: {
            index: "/category"
        },
        about: {
            index: "/about"
        },
        blogs: {
            index: "/blogs"
        },
        book: {
            index: "/book",
            id: (id) => `/book/${id}`
        }
    }

    const getCurrentRoute = () => {
        const currentPathname = window.location.pathname.split('/')[1];
        if (currentPathname === '') return routes['home'];
        for (const route in routes) {
            if ('/' + currentPathname === routes[route].index) {
                return routes[route];
            }
        }
    }

    const aTags = document.querySelectorAll('a');

    aTags.forEach((aTag) => {
        const href = aTag.getAttribute('href');
        if (href) {
            const route = getCurrentRoute();
            if (href === route.index) {
                aTag.classList.add('route-active');
            }
        }
    });
    const currentPathname = window.location.pathname;

    const searchBox = document.getElementById('search-box');
    const resultsContainer = document.getElementById('search-result');

    // Function to fetch books
    const fetchBooks = async () => {
        const response = await fetch('/api/books');
        return response.json();
    }

    let books = [];

    fetchBooks().then((data) => {
        books = data;
    });

    // Event listener for input changes
    searchBox.addEventListener('input', (e) => {
        const query = e.target.value.toLowerCase();

        // Clear previous results
        resultsContainer.innerHTML = '';

        if (query) {
            const filteredBooks = books.filter((book) => book.title.toLowerCase().includes(query));

            if (filteredBooks.length > 0) {
                resultsContainer.style.display = 'flex';
                filteredBooks.forEach((book, index) => {
                    if (index >= 4) return;
                    const bookElement = document.createElement('div');
                    bookElement.className = 'search-result-item';
                    bookElement.innerHTML = `
                        <div class="result-img">
                            <img src="${window.location.origin}/api/image/${book.thumbnailId}" alt="">
                        </div>
                        <div class="result-info">
                            <h2>${book.title}</h2>
                            <p>${book.authors}</p>
                            <h2>${book.price}$</h2>
                            <p>${book.description.substring(0, 100)}...</p>
                        </div>
                    `;
                    resultsContainer.appendChild(bookElement);
                });
            } else {
                resultsContainer.style.display = 'none';
            }
        } else {
            resultsContainer.style.display = 'none';
        }
    });
</script>