<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/blogs.css">
</head>

<body style="background-color: #ebeeff;">
    <%- include('./partials/header.ejs') %>
        <section class="blogs" id="blogs">
            <h1 class="heading"><span>our blogs</span></h1>
            <div class="blog-container">
                <ul class="blog-list">
                    <li class="blog-item">
                        <div class="blog-img"></div>
                        <div class="blog-preview">
                            <div class="blog-title">
                                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Erat conubia erat nascetur
                                    ligula
                                    faucibus mus. Senectus netus
                                    lobortis magnis dapibus hendrerit facilisis habitant scelerisque.</p>
                            </div>
                            <div class="blog-author">
                                Pham Duc
                            </div>
                            <div class="blog-content">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Est duis montes vestibulum justo
                                consequat quam vehicula tellus
                                maecenas. Curabitur scelerisque tellus volutpat sit varius cubilia. Laoreet ad neque nec
                                egestas lacinia consequat
                                egestas nibh. Per magnis sodales interdum; ultricies conubia aptent erat? Mauris lectus
                                et
                                pellentesque lobortis class
                                ipsum eleifend ultrices. Sed at maximus morbi cras parturient quis class. Vestibulum
                                aliquet
                                quam maecenas dictum, diam
                                mauris amet. Felis sociosqu
                            </div>
                        </div>
                    </li>
                    <li class="blog-item">
                        <div class="blog-img"></div>
                        <div class="blog-preview">
                            <div class="blog-title">
                                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Erat conubia erat nascetur
                                    ligula
                                    faucibus mus. Senectus netus
                                    lobortis magnis dapibus hendrerit facilisis habitant scelerisque.</p>
                            </div>
                            <div class="blog-author">
                                Pham Duc
                            </div>
                            <div class="blog-content">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Est duis montes vestibulum justo
                                consequat quam vehicula tellus
                                maecenas. Curabitur scelerisque tellus volutpat sit varius cubilia. Laoreet ad neque nec
                                egestas lacinia consequat
                                egestas nibh. Per magnis sodales interdum; ultricies conubia aptent erat? Mauris lectus
                                et
                                pellentesque lobortis class
                                ipsum eleifend ultrices. Sed at maximus morbi cras parturient quis class. Vestibulum
                                aliquet
                                quam maecenas dictum, diam
                                mauris amet. Felis sociosqu
                            </div>
                        </div>
                    </li>
                    <li class="blog-item">
                        <div class="blog-img"></div>
                        <div class="blog-preview">
                            <div class="blog-title">
                                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Erat conubia erat nascetur
                                    ligula
                                    faucibus mus. Senectus netus
                                    lobortis magnis dapibus hendrerit facilisis habitant scelerisque.</p>
                            </div>
                            <div class="blog-author">
                                Pham Duc
                            </div>
                            <div class="blog-content">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Est duis montes vestibulum justo
                                consequat quam vehicula tellus
                                maecenas. Curabitur scelerisque tellus volutpat sit varius cubilia. Laoreet ad neque nec
                                egestas lacinia consequat
                                egestas nibh. Per magnis sodales interdum; ultricies conubia aptent erat? Mauris lectus
                                et
                                pellentesque lobortis class
                                ipsum eleifend ultrices. Sed at maximus morbi cras parturient quis class. Vestibulum
                                aliquet
                                quam maecenas dictum, diam
                                mauris amet. Felis sociosqu
                            </div>
                        </div>
                    </li>
                    <li class="blog-item">
                        <div class="blog-img"></div>
                        <div class="blog-preview">
                            <div class="blog-title">
                                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Erat conubia erat nascetur
                                    ligula
                                    faucibus mus. Senectus netus
                                    lobortis magnis dapibus hendrerit facilisis habitant scelerisque.</p>
                            </div>
                            <div class="blog-author">
                                <i class="fa-solid fa-at"></i> Pham Duc
                            </div>
                            <div class="blog-content">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Est duis montes vestibulum justo
                                consequat quam vehicula tellus
                                maecenas. Curabitur scelerisque tellus volutpat sit varius cubilia. Laoreet ad neque nec
                                egestas lacinia consequat
                                egestas nibh. Per magnis sodales interdum; ultricies conubia aptent erat? Mauris lectus
                                et
                                pellentesque lobortis class
                                ipsum eleifend ultrices. Sed at maximus morbi cras parturient quis class. Vestibulum
                                aliquet
                                quam maecenas dictum, diam
                                mauris amet. Felis sociosqu
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <script src="js/layout.js"></script>

        <%- include('./partials/footer.ejs') %>
</body>

</html>