<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Book Cart </title>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <header class="cart-header">
        <h1>📚 Your Book Cart 🛒</h1>
    </header>
    <section>
        <div class="empty-cart">
            <div class="empty-cart-icon">🛒</div>
            <p class="empty-cart-message">Your cart is empty. Add some exciting books!</p>
            <a href="/category" class="shop-now-btn">Shop Now</a>
        </div>
        <main id="cart-container">
            <div class="cart-total">
                Total: $50.97
            </div>
            <button class="checkout-btn">Proceed to Checkout</button>
        </main>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fetchCart = async () => {
                const response = await fetch('/api/cart');
                const data = await response.json();
                return data;
            };

            const cartContainer = document.getElementById('cart-container');
            const emptyCart = document.querySelector('.empty-cart');
            const renderCart = async () => {
                const cartItems = await fetchCart();
                
                if (cartItems.length === 0) {
                    emptyCart.style.display = 'block';
                    cartContainer.style.display = 'none';
                    return;
                }

                emptyCart.style.display = 'none';
                cartContainer.style.display = 'block';
                cartItems.forEach((item) => {
                    const {
                        thumbnailId,
                        price,
                        title,
                        authors
                    } = item;
                    const book = document.createElement('div');
                    book.classList.add('book-item');
                    book.innerHTML = `
                        <img src="/api/image/${thumbnailId}" alt="${title}" class="book-thumbnail">
                        <div class="book-info">
                            <div class="book-title">${title}</div>
                            <div class="book-author">${authors}</div>
                            <div class="book-price">$${price}</div>
                        </div>
                        <button data-id="${thumbnailId}" class="remove-btn">Remove</button>
                    `;
                    cartContainer.insertBefore(book, cartContainer.firstChild);
                });

                const total = document.querySelector('.cart-total');
                total.innerHTML = `Total: $${Math.floor(cartItems.reduce((total, item) => total + parseFloat(item.price), 0))}`;
            };
            renderCart();
            setTimeout(() => {
                const removeBtn = document.querySelectorAll('.remove-btn');

                if (removeBtn) {
                    removeBtn.forEach((btn) => {
                        btn.addEventListener('click', async () => {
                            const thumbnailId = btn.getAttribute('data-id');
                            await fetch(`/api/cart`, {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    thumbnailId
                                })
                            }).then(() => {
                                window.location.reload();
                            });
                        });
                    });
                }
            }, 1000)
        })
    </script>

    <%- include('./partials/footer.ejs') %>
</body>

</html>