<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/category.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="scripts/layout.js"></script>
</head>

<body style="background-color: #ebeeff;">
    <section>
        <div class="categories">
            <nav class="navbar">
                <button>Fiction</button>
                <button>Classics</button>
                <button>Non-fiction</button>
                <button>Science</button>
                <button>Psychology and Self-help</button>
                <button>Economics and Business</button>
                <button>History</button>
                <button>Philosophy and Religion</button>
                <button>Art and Entertainment</button>
                <button>Education and Life Skills</button>
            </nav>
        </div>

        <main>
            <div class="header-content">
                <h1>Features Book</h1>
            </div>
            <div class="x">
                <div class="grid-book">
                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>

                    <div class="book-container">
                        <div class="book">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

</body>

</html>