.blog-header {
    max-width: 1200px;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.blog-header .blog-submit {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.blog-header .blog-submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transform: translateX(-100%);
    transition: all 0.6s ease;
}

.blog-header .blog-submit:hover::before {
    transform: translateX(100%);
}

.blog-header .blog-submit:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.5);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
}

.blog-posts {
    padding: 4rem 0;
}

.blog-post {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.blog-post::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, var(--main-color) 10%, transparent 10%), radial-gradient(circle, var(--main-color) 10%, transparent 10%);
    background-size: 20px 20px;
    opacity: 0.1;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post:hover::before {
    transform: rotate(0deg);
}

.blog-post h2 {
    color: var(--main-color);
    margin-top: 0;
}

.blog-post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.blog-post-meta img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}

.blog-post-author {
    font-weight: bold;
}

.blog-post-preview {
    margin-bottom: 1rem;
}

.read-more {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.read-more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transform: translateX(-100%);
    transition: all 0.6s ease;
}

.read-more:hover::before {
    transform: translateX(100%);
}

.read-more:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.5);
}
