@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: var(--black);
    border: var(--border);
}

.home {
    position: relative;
    padding: 0;
}

.thumbnail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: contrast(0.4);
    opacity: 0.8;
    background: #c5c5c5;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .swiper-wrapper .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .swiper-wrapper .row .content {
    flex: 1 1 42rem;
    padding: 5rem;
}

.home .swiper-wrapper .row .book-image {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .swiper-wrapper .row .book-image a img {
    height: 55rem;
}

.home .swiper-wrapper .row .book-image .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .swiper-wrapper .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .swiper-wrapper .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons .content {
    width: 170px;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--bg);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img {
    height: 25rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover {
    background: var(--bg);
    color: #fff;
}

.featured .featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.newsletter div {
    width: 100%;
    height: 100%;
    background: url(../images/letter.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    filter: blur(2.5px);
}

.newsletter form {
    max-width: 60rem;
    text-align: center;
}

.newsletter form h3 {
    font-size: 2.5rem;
    color: #dce1cb;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.newsletter form .box {
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
}

.newsletter form input[type='email'] {
    height: 6rem;
}

.newsletter form input[type='submit'] {
    width: 100%;
}

.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i {
    font-size: 1.5rem;
    color: var(--bg);
}

.deal {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content {
    flex: 1 1 42rem;
}

.deal .image {
    flex: 1 1 42rem;
}

.deal .image img {
    width: 100%;
}

.deal .content h3 {
    color: var(--bg);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box {
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: 5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding-bottom: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--bg);
}

@media (max-width: 768px) {
    .home .row .content {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 3.5rem;
    }
    .newsletter {
        background-position: right;
    }
    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }
}
