<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/book.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <section id="bookDetails">
        <!-- <main>
            <div class="book-img">
                <img src="http://localhost:8080/file/2a95a51c" alt="">
            </div>
            <div class="book-info">
                <h1>The Three-Body Problem</h1>
                <h2>Cixin Liu</h2>
                <h2>20$ <span>200$</span></h2>
                <div class="description">Thương hiệu CIXIN LIU là cái tên nổi tiếng được rất nhiều khách hàng trên thế giới chọn lựa. Sản phẩm CIXIN LIU'S SCIENCE FICTION 7-BOOK COLLECTION SET (THREE-BODY PROBLEM, DARK FOREST, DEATH'S END, BALL LIGHTNING, SUPERNOVA ERA, TO HOLD UP THE SKY, WANDERING EARTH) CIXIN LIU'S SCIENCE FICTION 7-BOOK COLLECTION SET (THREE-BODY PROBLEM, DARK FOREST, DEATH'S END, BALL LIGHTNING, SUPERNOVA ERA, TO HOLD UP THE SKY, WANDERING EARTH) PAPERBACK là sự lựa chọn hoàn hảo nếu bạn đang tìm mua một món cho riêng mình.</div>
                <div class="btn-book">
                    <button>Mua Ngay</button>
                    <button>Thêm vào giỏ</button>
                </div>
            </div>
        </main> -->
        <!-- <div class="detail">
            <h1>Tác giả</h1>
            <h1>Nhà xuất bản</h1>
            <h1>Ngày xuất bản</h1>
            <h1>Thể loại</h1>
            <h1>Ngôn ngữ</h1>
            <h1>Số trang</h1>
        </div> -->
    </section>
    <footer>
        <div>Có Thể bạn cũng thích</div>
        <main>
            <!-- swiper-wrapper -->
            <div><div></div></div>
            <div><div></div></div>
            <div><div></div></div>
        </main>
    </footer>
    <script src="./scripts/book.js"></script>
</body>

</html>