<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/cart.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <section>
        <div class="header-title"></div>
        <main>
            <div style="background-color: aliceblue;"></div>
            <div style="background-color: aliceblue;"></div>
            <div style="background-color: aliceblue;"></div>
            <div style="background-color: aliceblue;"></div>
        </main>
        <div class="footer-pay"></div>
    </section>
    
    <script src="./scripts/cart.js"></script>
</body>

</html>