<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/category.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <section>

        <main>
            <div class="selectionBar">
                <select id="selectbar">
                    <option value="all">All</option>
                    <option value="fiction">Fiction</option>
                    <option value="classical">Classical</option>
                    <option value="non-fiction">Non-fiction</option>
                    <option value="science">Science</option>
                    <option value="self-help">Psychology and Self-help</option>
                    <option value="economics">Economics and Business</option>
                    <option value="history">History</option>
                    <option value="religion">Philosophy and Religion</option>
                    <option value="art">Art and Entertainment</option>
                    <option value="life-skill">Education and Life Skills</option>
                </select>
            </div>
            <div class="header-content">
                <h1>Features Book</h1>
            </div>
            <div class="x">
                <div class="grid-book" id="bookGrid">

                </div>
            </div>
        </main>

        <div class="categories">
            <nav class="navbar" id="navbar">
                <button value="all">All</button>
                <button value="fiction">Fiction</button>
                <button value="classical">Classical</button>
                <button value="non-fiction">Non-fiction</button>
                <button value="science">Science</button>
                <button value="self-help">Psychology and Self-help</button>
                <button value="economics">Economics and Business</button>
                <button value="history">History</button>
                <button value="religion">Philosophy and Religion</button>
                <button value="art">Art and Entertainment</button>
                <button value="life-skill">Education and Life Skills</button>
            </nav>
        </div>
    </section>

    <script src="./scripts/category.js"></script>
</body>

</html>