<header>
    <div class="logo">
        <a href="/" id="logo" class="logo" style="display: flex; align-items: center;">
            <img src="/favicon.ico" width="40" alt="BookBuddy Logo">
            BookBuddy
        </a>
    </div>
    <div action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <div id="search-result">
        </div>
    </div>
    <div class="user-menu">
        <button class="user-button" id="userButton" aria-haspopup="true" aria-expanded="false">
            <div class="user-avatar"></div>
            <!-- username -->
            <span></span>
        </button>
        <div class="dropdown" id="userDropdown">
            <div class="dropdown-content">
                <div class="user-info">
                    <!-- username -->
                    <h3></h3>
                    <!-- email -->
                    <p></p>
                </div>
                <div class="dropdown-buttons">
                    <button onclick="window.location.href='/cart'" id="cartButton">🛒 Your Cart </button>
                    <button id="signOutButton"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="nav-container">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/category">Category</a>
        <a href="/about">About us</a>
        <a href="/blogs">Blogs</a>
    </nav>
</div>
<nav class="bottom-navbar">
    <a href="/">
        <i class="fa-solid fa-house"></i>
    </a>
    <a href="/category">
        <i class="fa-solid fa-list"></i>
    </a>
    <a href="/about">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users">
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
    </a>
    <a href="/blogs">
        <i class="fa-solid fa-blog"></i>
    </a>
</nav>
