section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section main{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
    section main{
        grid-template-columns: 1fr 2fr;
    }
}
section main .book-img{
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
section main .book-img img{
    flex: 1;
    max-width: 300px;
    aspect-ratio: 8 / 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section main .book-info{
    grid-column: span 1;
}
section main .book-info h1{
    font-size: 2.5rem;
}
section main .book-info h2{
    font-size: 2rem;
    font-weight: 500;
}
section main .book-info h2 + h2{
    font-size: 2.5rem;
    font-weight: 500;
}
section main .book-info h2 span{
    font-size: 2rem;
    text-decoration: line-through;
}
section main .book-info .description{
    font-size: 1.7rem;
    padding: 1rem;
}
section main .book-info .btn-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 1;
    max-width: 420px;
    gap: 1rem;
}
section main .book-info .btn-book button{
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 200px;
    border-radius: 10px;
    background-color: rgb(132, 95, 47);
}


section .detail{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
@media screen and (min-width: 768px) {
    section .detail{
        grid-template-columns: repeat(6, 1fr);
    }
}
section .detail h1{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
